---
const {
  copyright = '© Untitled',
  designText = 'Design:',
  designUrl = 'http://html5up.net',
  designLabel = 'HTML5 UP',
} = Astro.props;
---
<footer id="footer">
  <span>{copyright} {designText} <a href={designUrl}>{designLabel}</a>.</span>
</footer>
