---
import { currentYear } from '../utils/site.ts';
---
<footer id="footer">
  <span class="copyright">&copy; {currentYear} Luis Daniel Diasgiron Galindo. Desarrollado con HTML, CSS y ❤️.</span>
</footer>
