---
const { title, description, image, alt } = Astro.props;
---
<article class="project-card simple">
  <div class="project-image">
    <img src={image} alt={alt} />
  </div>
  <div class="project-info">
    <h3>{title}</h3>
    <p class="project-description">{description}</p>
  </div>
</article>
