---
import Background from '../components/Background.astro';
const { title = 'Aerial by HTML5 UP', description = 'Aerial template converted to Astro' } = Astro.props;
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <title>{title}</title>
    <meta name="description" content={description} />
    <link rel="stylesheet" href="/assets/css/main.css" />
    <noscript><link rel="stylesheet" href="/assets/css/noscript.css" /></noscript>
  </head>
  <body class="is-preload">
    <Background>
      <slot />
    </Background>
    <script>
      window.onload = function() { document.body.classList.remove('is-preload'); }
      window.ontouchmove = function() { return false; }
      window.onorientationchange = function() { document.body.scrollTop = 0; }
    </script>
  </body>
</html>
